@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

.input-field {
  @apply w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400;
}

@media (min-width: 1024px) {
  .hero-gradient-overlay {
    background: linear-gradient(
      to right,
      rgba(249, 232, 232, 0.908) 0%,      /* deep rose */
      rgba(190,18,60,0) 60%,
      rgba(190,18,60,0) 100%
    ) !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out;
}
